@font-face {
    font-family: montserrat;
    src: url(../css/fonts/Montserrat-VariableFont_wght.ttf);
}

/* Carousel */

/******* Fonts Import Start **********/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/********* Fonts Face CSS End **********/

/******* Common Element CSS Start ******/

.review-section-carousel{
  padding-top: 30px;
  background-color: #d7d7d7;
  background-image: linear-gradient(147deg, #d7d7d7 0%, #353535 74%);
}

* {
  margin: 0px;
  padding: 0px;
}

.clear {
  clear: both;
}
.game-section img {
  max-width: 100%;
  border: 0px;
}
.game-section ul, ol {
  list-style: none;
}
.game-section a {
  text-decoration: none;
  color: inherit;
  outline: none;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}

.game-section a:focus,
a:active,
a:visited,
a:hover {
  text-decoration: none;
  outline: none;
}
.game-section a:hover {
  color: #e73700;
}
.game-section h2 {
  margin-bottom: 48px;
  padding-bottom: 16px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  position: relative;
  text-transform: capitalize;
}
.game-section h3 {
  margin: 0 0 10px;
  font-size: 28px;
  line-height: 36px;
}
.game-section button {
  outline: none !important;
}
/******* Common Element CSS End *********/

/* -------- title style ------- */
.line-title {
  position: relative;
  width: 400px;
}
.line-title::before,
.line-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 2px;
}
.line-title::before {
  width: 100%;
  background: #f2f2f2;
}
.line-title::after {
  width: 32px;
  background: #e73700;
}

/******* Middle section CSS Start ******/
/* -------- Landing page ------- */
.game-section {
  padding: 60px 50px;
}
.game-section .owl-stage {
  margin: 15px 0;
  display: flex;
  display: -webkit-flex;
}
.game-section .item {
  margin: 0 15px 60px;
  width: 320px;
  height: 400px;
  display: flex;
  display: -webkit-flex;
  align-items: flex-end;
  -webkit-align-items: flex-end;
  background: #343434 no-repeat center center / cover;
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.game-section .item.active {
  width: 500px;
  box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 12px 40px 40px rgba(0, 0, 0, 0.25);
}
.game-section .item:after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}
.game-section .item-desc {
  padding: 0 24px 12px;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transform: translateY(calc(100% - 54px));
  -webkit-transform: translateY(calc(100% - 54px));
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.game-section .item.active .item-desc {
  transform: none;
  -webkit-transform: none;
}
.game-section .item-desc p {
  opacity: 0;
  -webkit-transform: translateY(32px);
  transform: translateY(32px);
  transition: all 0.4s ease-in-out 0.2s;
  -webkit-transition: all 0.4s ease-in-out 0.2s;
}
.game-section .item.active .item-desc p {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.game-section .owl-theme.custom-carousel .owl-dots {
 margin-bottom: -90px;
  position: relative;
  z-index: 5;
}
/******** Middle section CSS End *******/

/***** responsive css Start ******/

@media (min-width: 992px) and (max-width: 1199px) {
 .game-section h2 {
    margin-bottom: 32px;
  }
 .game-section h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 50px 30px;
  }
  .game-section .item {
    margin: 0 12px 60px;
    width: 260px;
    height: 360px;
  }
  .game-section .item.active {
    width: 400px;
  }
  .game-section .item-desc {
    transform: translateY(calc(100% - 46px));
    -webkit-transform: translateY(calc(100% - 46px));
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .game-section h2 {
    margin-bottom: 32px;
  }
  .game-section h3 {
    margin: 0 0 8px;
    font-size: 24px;
    line-height: 32px;
  }
  .game-section .line-title {
    width: 330px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 50px 30px 40px;
  }
  .game-section .item {
    margin: 0 12px 60px;
    width: 240px;
    height: 330px;
  }
  .game-section .item.active {
    width: 360px;
  }
  .game-section .item-desc {
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}

@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
  .game-section h2 {
    margin-bottom: 20px;
  }
  .game-section h3 {
    margin: 0 0 8px;
    font-size: 19px;
    line-height: 24px;
  }
  .line-title {
    width: 250px;
  }

  /* -------- Landing page ------- */
  .game-section {
    padding: 30px 15px 20px;
  }
  .game-section .item {
    margin: 0 10px 40px;
    width: 200px;
    height: 280px;
  }
  .game-section .item.active {
    width: 270px;
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.25);
  }
  .game-section .item-desc {
    padding: 0 14px 5px;
    transform: translateY(calc(100% - 42px));
    -webkit-transform: translateY(calc(100% - 42px));
  }
}



/* Secondary Navbar */

#audiomenu{
    position: relative;
    padding-top: 50px;
    right: 0;
    left: 0;
    width: 319px;
    display: table;
    margin: 0 auto;
    transform: translateY(-50%);
  
  }
  
#audiomenu a{
    position: relative;
    width: 33.333%;
    display: table-cell;
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-family: montserrat;
    font-weight: 200px;
    padding: 10px 20px;
    white-space: nowrap;  
  }
  
.hover-2 { 
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 1px;
        transform: scaleX(0);
        background-color: black;
  
        transition: transform 0.3s;
    }
  
    &:hover {
        &:after {
            transform: scaleX(1);    
        }
    }
  }
  
  #audiomenu a:hover {
    color: black;
  }
  
  
  .col{
    height: fit-content;
    width: fit-content;
  }
  
  .reviewgrid{
 
    margin-top:-10px;
    text-align:center; 
    width: 65vw;
    height: fit-content;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
  }
  
  .reviewgrid a{
    text-decoration: none;
    color: #000;
  }
  
  .reviewtile{
    position: relative;
    height: 300px;
    width: 300px;
  }

  .reviewtile img{
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 50%; left: 0; right: 0; 
    transform: translate(0, -50%); 
    margin: auto;
    transition: 0.5s filter linear ;
    object-fit: contain;
    padding: 20px;
  }
  
  .reviewtile:hover img{
    transition: opacity 1s;
    opacity: 0.2;
  }
  
  .reviewtile:hover .text{
    color: black;
    opacity: 1;
    text-align: center;
    transition: opacity 1s;
  }

  .reviewtile:hover .subtext{
    color: black;
    opacity: 1;
    text-align: center;
    transition: opacity 1s;
  }
  
  .text{
    opacity: 0;
    transition: opacity 0.8s;
    display: inline-block;
    position: relative; 
    top: 40%; left: 0; right: 0; 
    transform: translate(0, -50%); 
    text-align: center; 
    font-weight: 500;
    font-size: 22px;
    font-family: montserrat;
  }

  .subtext{
    opacity: 0;
    transition: opacity 0.8s;
    position: relative; 
    display: inline-block;
    top: 50%; left: 0; right: 0; 
    transform: translate(0, -50%); 
    text-align: center; 
    font-weight: 400;
    font-size: 15px;
    font-family: montserrat;
    margin-top: -100px;
  }

  /* Review Grid */
  
  .productnavbar{
    margin-top:100px; 
    text-align:center
  }

  .productnavbar h1{
    font-family: montserrat;
    font-weight: 600;
  }

  
  .img-shadow-1
  {
  -webkit-box-shadow: 0 28px 16px -26px black;
  -moz-box-shadow: 0 28px 16px -26px black;
  box-shadow: 0 28px 16px -26px black;
  }
  
  .img-shadow-1:hover
  {
  transform:scale(1.1);
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -ms-transform:scale(1.1);
  -o-transform:scale(1.1);
  
  -webkit-box-shadow: 0 58px 36px -56px black;
  -moz-box-shadow: 0 58px 36px -56px black;
  box-shadow: 0 58px 36px -56px black;
  }
  
  .img-shadow-1
  {
  transition:all .6s ease-in-out;
  -webkit-transition:all .6s ease-in-out;
  -moz-transition:all .6s ease-in-out;
  -ms-transition:all .6s ease-in-out;
  -o-transition:all .6s ease-in-out;
  }
  
  .img-shadow-1:hover
  {
  transition:all .6s ease-in-out;
  -webkit-transition:all .6s ease-in-out;
  -moz-transition:all .6s ease-in-out;
  -ms-transition:all .6s ease-in-out;
  -o-transition:all .6s ease-in-out;
  }
  
  .image-hover * {
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box}
  .image-hover {
    position:relative;
    width:450px;
    height:200px;
    display:inline-block;
    overflow:hidden;
    background:#fff;
    border:10px solid #fff;
    box-shadow:0px 2px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.3)}
  
  .image-hover a {text-decoration:none}
  
  .image-hover img {margin:-100px 0px 0px -100px}

