@font-face {
    font-family: montserrat;
    src: url(../css/fonts/Montserrat-VariableFont_wght.ttf);
}

#audiomenu{
    position: relative;
    padding-top: 50px;
    right: 0;
    left: 0;
    width: 319px;
    display: table;
    margin: 0 auto;
    transform: translateY(-50%);
  
  }
  
#audiomenu a{
    position: relative;
    width: 33.333%;
    display: table-cell;
    text-align: center;
    color: black;
    text-decoration: none;
    font-family: montserrat;
    font-weight: 200px;
    padding: 10px 20px;
    white-space: nowrap;  
  }
  
.hover-2 { 
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 1px;
        transform: scaleX(0);
        background-color: black;
  
        transition: transform 0.3s;
    }
  
    &:hover {
        &:after {
            transform: scaleX(1);    
        }
    }
  }
  
  #audiomenu a:hover {
    color: black;
  }
  
  
  .col{
    height: fit-content;
    width: fit-content;
  }
  
  .reviewgrid{
 
    margin-top:-10px;
    text-align:center; 
    width: 70vw;
    height: fit-content;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
  }
  
  .reviewgrid a{
    text-decoration: none;
    color: #000;
  }
  
  .reviewtile{
    position: relative;
    height: 300px;
    width: 300px;
  }

  .reviewtile img{
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    top: 50%; left: 0; right: 0; 
    transform: translate(0, -50%); 
    margin: auto;
    transition: 0.5s filter linear ;
    object-fit: contain;
    padding: 20px;
  }
  
  .reviewtile:hover img{
    transition: opacity 1s;
    opacity: 0.2;
  }
  
  .reviewtile:hover .text{
    color: black;
    opacity: 1;
    text-align: center;
    transition: opacity 1s;
  }

  .reviewtile:hover .subtext{
    color: black;
    opacity: 1;
    text-align: center;
    transition: opacity 1s;
  }
  
  .text{
    opacity: 0;
    transition: opacity 0.8s;
    display: inline-block;
    position: relative; 
    top: 40%; left: 0; right: 0; 
    transform: translate(0, -50%); 
    text-align: center; 
    font-weight: 500;
    font-size: 22px;
    font-family: montserrat;
  }

  .subtext{
    opacity: 0;
    transition: opacity 0.8s;
    position: relative; 
    display: inline-block;
    top: 50%; left: 0; right: 0; 
    transform: translate(0, -50%); 
    text-align: center; 
    font-weight: 400;
    font-size: 15px;
    font-family: montserrat;
    margin-top: -100px;
  }
  
  .productnavbar{
    margin-top:100px; 
    text-align:center
  }

  .productnavbar h1{
    font-family: montserrat;
    font-weight: 600;
  }

  
  .img-shadow-1
  {
  -webkit-box-shadow: 0 28px 16px -26px black;
  -moz-box-shadow: 0 28px 16px -26px black;
  box-shadow: 0 28px 16px -26px black;
  }
  
  .img-shadow-1:hover
  {
  transform:scale(1.1);
  -webkit-transform:scale(1.1);
  -moz-transform:scale(1.1);
  -ms-transform:scale(1.1);
  -o-transform:scale(1.1);
  
  -webkit-box-shadow: 0 58px 36px -56px black;
  -moz-box-shadow: 0 58px 36px -56px black;
  box-shadow: 0 58px 36px -56px black;
  }
  
  .img-shadow-1
  {
  transition:all .6s ease-in-out;
  -webkit-transition:all .6s ease-in-out;
  -moz-transition:all .6s ease-in-out;
  -ms-transition:all .6s ease-in-out;
  -o-transition:all .6s ease-in-out;
  }
  
  .img-shadow-1:hover
  {
  transition:all .6s ease-in-out;
  -webkit-transition:all .6s ease-in-out;
  -moz-transition:all .6s ease-in-out;
  -ms-transition:all .6s ease-in-out;
  -o-transition:all .6s ease-in-out;
  }
  
  .image-hover * {
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box}
  .image-hover {
    position:relative;
    width:450px;
    height:200px;
    display:inline-block;
    overflow:hidden;
    background:#fff;
    border:10px solid #fff;
    box-shadow:0px 2px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow:0px 2px 3px rgba(0, 0, 0, 0.3)}
  
  .image-hover a {text-decoration:none}
  
  .image-hover img {margin:-100px 0px 0px -100px}

